# ======================
# Angular / Frontend
# ======================
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.angular/cache

# ======================
# Java / Spring Boot / Backend
# ======================
backend/target
backend/build
backend/.gradle
*.class
*.jar
*.war
*.ear
*.log

# Keep gradle wrapper
!backend/gradle/wrapper/gradle-wrapper.jar

# ======================
# IDEs and Editors
# ======================
.idea/
.project
.classpath
*.launch
.settings/
*.sublime-workspace
*.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ======================
# OS / System files
# ======================
.DS_Store
Thumbs.db

# ======================
# Misc / Test / Coverage
# ======================
/coverage
/libpeerconnection.log
testem.log
/typings
.sass-cache/
/connect.lock
